.div-table {
  display: table;  
 margin-left: 300px;       
  width: auto;         
  background-color: #eee;         
  border: 1px solid #666666;         
  border-spacing: 5px; /* cellspacing:poor IE support for  this */
}
.div-table-row {
  display: table-row;
  align-content: center;
  width: auto;
  clear: both;
}
.div-table-col {
 float: right; /* fix for  buggy browsers */
  display: table-column;         
  width: 200px;         
  background-color: #ccc;  
}